.page-title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 10px 41px 18px;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #ebebeb;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  height: 190px;
  margin-bottom: 18px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 20px;
  }

  .page-title {
    font-size: 60px;
    line-height: 60px;
    padding: 48px 0 41px 28px;
    border: none;
    margin-bottom: 13px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    margin: 0;
    margin-bottom: 75px;
  }

  .catalog__item {
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 31px;
  }

  .page-title {
    padding: 60px 0 41px 2px;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }

  .catalog__item {
    box-sizing: border-box;
    width: 245px;
  }
}
