.page__title {
  padding: 27px 10px 41px 10px;
  margin-bottom: 100px;
}

.catalog__list {
  list-style: none;
  padding: 0;
}

.catalog__item {
  min-height: 190px;
  margin-bottom: 30px;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-card__img {
  margin: auto auto;
}

.product-card--more {
  position: relative;
  display: grid;
}

.product-card--more::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url(../img/product/plus.svg) no-repeat center;
  transform: translateX(-50%);
}

.product-card__description-title {
  margin-top: 80px;
  width: 120px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}

.product-card__description-title--more {
  width: 100%;
}

.product-card__description-about {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin-bottom: 15px;
}

.product-card__description-about p {
  margin: 0;
}

.product-card__description-text {
  margin: 0;
}

.about-product__item {
  display: flex;
  justify-content: space-between;
}

.about-product__text {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }
  .catalog__item {
    box-sizing: border-box;
    max-width: 324px;
    background-color: $basic_grey;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
  }

   .product-card__img {
    width: 168px;
    height: 200px;
    margin-top: -40px;
  }
  .product-card__description {
    display: flex;
    flex-direction: column;
  }
  .product-card__description-title {
    margin: 0 auto;
  }
  .product-card--more {
    background-color: $basic_white;
    justify-content: space-around
  }
  .about-product__text {
    margin-left: 0 auto;
  }
  .about-product__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 63px;
  }
  .catalog__item {
    box-sizing: border-box;
    width: 245px;
  }
}
