.filter__contact {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.filter__contact-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 41px;
}

@media (min-width: $tablet-width) {
  .filter__contact {
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 52px;
  }

  .filter__contact-title {
    font-size: 36px;
    line-height: 36px;
    color: $basic_black;
    max-width: 595px;
    margin-top: 0;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .filter__contact {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 100%;
    margin-bottom: 49px;
  }

  .filter__contact-title {
    margin-bottom: 77px;
  }
}
