.filter__list {
  border: none;
  padding: 0;
  max-width: 570px;
  border-bottom: 1px solid $special_grey-3;
  padding-bottom: 15px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.filter__item {
  box-sizing: border-box;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 12px;
  margin-bottom: 5px;
}

.item-radio {
  margin-bottom: 25px;
}

.filter__item-data {
  width: 100%;
}

.filter__message {
  padding: 0;
  border: none;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;
  margin-bottom: 30px;
}

.filter__checkbox {
  border: none;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;
}

.filter__title-wrap {
  position: relative;
  display: block;
}

.filter__cover {
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 1;
  padding-right: 16px;
  padding-left: 23px;
  max-width: 220px;
  margin-left: -23px;
}

.filter-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.filter__list-radio {
  padding-top: 12px;
  padding-bottom: 0;
  margin-bottom: 25px;
}

.filter__duty {
  display: block;
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 62px;
  padding-top: 5px;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .filter__inner {
    margin-bottom: 77px;
  }

  .filter__list {
    padding-left: 60px;
    border: none;
    margin-bottom: 42px;
    max-width: 630px;
  }

  .filter__item {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 23px;
  }

  .filter__cover {
    padding-right: 42px;
    padding-left: 37px;
    margin-left: 0;
  }

  .filter__list-radio {
    border: 1px solid #e7e7e7;
    margin-left: 42px;
    padding-left: 30px;
    max-width: 578px;
  }

  .filter__message {
    margin-bottom: 72px;
  }

  .filter__duty {
    display: inline-block;
    font-family: "Arial", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    margin-left: -4px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    margin-bottom: 47px;
  }

  .filter__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 69px;
  }

  .filter__list {
    flex: 1 1 50%;
    padding-left: 21px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .filter__item {
    margin-bottom: 24px;
  }

  .filter__item:last-child {
    margin-bottom: 0;
  }

  .filter__cover {
    padding-right: 42px;
    padding-left: 37px;
    margin-left: -38px;
  }

  .filter__list-radio {
    border: 1px solid #e7e7e7;
    padding-top: 0;
    margin: 0;
    box-sizing: border-box;
    margin-left: 73px;
    margin-top: 11px;
    margin-right: -8px;
  }

  .filter-list--radio {
    padding: 0;
    margin: 0;
  }

  .filter-list {
    padding: 19px 34px 27px 8px;
    border: none;
    box-sizing: border-box;
  }

  .filter__message {
    margin-bottom: 74px;
  }

  .filter__duty {
    margin-left: 18px;
  }
}
