.footer-map iframe {
  width: 100%;
  height: 362px;
  border: none;
}

@media (min-width: $tablet-width) {
  .footer-map iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .footer-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
