.page-footer {
  background-color: $basic_white;
}

.contact-block {
  display: flex;
  justify-content: space-around;
  padding: 11px 20px;
}

.contact-block__invite {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black-2;
}

.contact-block__address {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  padding: 16px 0 16px 13px;
}

.contact-block__address p {
  margin: 0;
}

.footer-map iframe {
  width: 100%;
  height: 362px;
  border: none;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-social__img {
  display: flex;
  justify-content: center;
  padding: 31px 0;
  border-bottom: 1px solid #D9D9D9;
  :hover {
    opacity: 0.8;
  }
  :active {
    opacity: 0.3;
  }
}

.footer-social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D9D9D9;
  margin-top: 4px;
}

.footer-social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.svg-link-hover {
  fill:none;
  stroke: #666666;
}

.footer-social__icon:hover .svg-link-hover {
  stroke: $basic_green;
}

.footer-social__icon:active .svg-link-hover {
  stroke: $basic_green;
  opacity: 0.3;
}

.product-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 22px;
  color: $special_dark-grey;
}

.product-by__text {
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
}

.product-by:hover .product-by__img {
  fill: $basic_green;
}

.product-by:active {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .filter {
    margin-bottom: 47px;
  }
  .contact-block {
    padding: 30px 30px 22px 30px;
    justify-content: space-between;
  }

  .contact-block__invite {
    padding: 10px 0 10px 40px;
    font-size: 20px;
    line-height: 25px;
  }

  .contact-block__address {
    margin-top: 12px;
    padding-right: 42px;
    text-align: right;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
  }

  .contact-block--bg {
    background: #F2F2F2;
  }

  .footer-map iframe {
    height: 400px;
  }

  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
  }

  .footer-social__list {
    border: none;
    justify-content: space-between;
    margin-left: 33px;
  }

  .footer-social__img {
    margin: 0;
    border: none;
  }

  .footer-social__icon {
    padding: 7px;
    margin-right: 10px;
  }

  .footer-social__icon--vkontakte svg {
    width: 30px;
    height: 22px;
  }

  .footer-social__icon--instagram svg {
    width: 22px;
    height: 22px;
  }

  .footer-social__icon--facebook svg {
    width: 28px;
    height: 33px;
  }


  .product-by__text {
    margin-right: 20px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }

  .contact-block__invite,
  .contact-block__address {
    max-width: 170px;
  }

  .contact-block__address p {
    margin-bottom: 20px;
  }
}


@media (min-width: $desktop-width) {
  .contact-container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }
  .contact-block {
    position: absolute;
    box-sizing: border-box;
    top: 97px;
    left: 9px;
    width: 570px;
    height: 201px;
    background-color: #fff;
    justify-content: space-between;
    padding: 44px;
  }
  .contact-block__invite {
    padding: 2px 0 10px 32px;
  }
  .contact-block__address {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 3px;
    padding-right: 26px;
    text-align: left;
  }
  .footer-social {
    margin-top: 29px;
  }
  .footer-social__img {
    padding-left: 10px;
  }
  .footer-social__list {
    margin-left: 35px;
  }
  .product-by {
    margin-bottom: 17px;
    margin-right: -10px;
  }
}
