.page-title-form {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  margin-top: 28px;
  margin-bottom: 38px;
}

.page-text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 20px;
  margin-bottom: 25px;
}

.form-email,
.form-phone {
  position: relative;
  margin-bottom: 16px;
  max-width: 570px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.form-email input {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid $basic_grey-5;
}

.form-email:hover input {
  border: 1px solid $special_grey;
}

.user-email,
.user-phone {
  position: relative;
  padding: 10px 45px 10px 13px;
  margin-left: 7px;
  border: 1px solid $basic_grey-5;
}

.user-phone:hover {
  border: 1px solid $special_grey;
}

.user-email:focus,
.user-phone:focus {
  outline: none;
  border-radius: none;
  border: 1px solid $special_dark-grey;
  box-shadow: 0 0 0 1px $special_dark-grey;
}

.user-email:invalid {
  border: 2px solid $status_error;
}

.user-email:invalid + .form-email__icon {
  stroke: $status_error;
}

.form-email__icon,
.form-phone__icon {
  position: absolute;
  right: 15px;
}

.user-email:focus + .form-email__icon {
  outline: none;
  stroke: $basic_green;
}

.user-phone:focus + .form-phone__icon {
  stroke: $basic_green;
}

@media (min-width: $tablet-width) {
  .page-title-form {
    font-size: 60px;
    line-height: 60px;
    padding-left: 40px;
    margin-top: 49px;
    margin-bottom: 54px;
  }

  .page-text {
    font-size: 20px;
    line-height: 30px;
    padding: 0 40px;
    max-width: 350px;
    margin-bottom: 55px;
  }

  .form-title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
  }

  .form-email,
  .form-phone {
    font-size: 20px;
    padding-left: 42px;
    line-height: 30px;
    max-width: 630px;
  }

  .form-email input,
  .form-phone input {
    font-size: 20px;
    line-height: 30px;
  }

  .user-email,
  .user-phone {
    margin-left: 15px;
    padding: 10px 45px 10px 21px;
  }
}

@media (min-width: $desktop-width) {
  .page-title-form {
    padding-left: 0;
    margin-top: 60px;
    margin-bottom: 55px;
  }

  .page-text {
    padding: 0;
  }

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .form-email {
    flex: 1 1 50%;
  }

  .form-phone {
    flex: 1 1 50%;
    margin-left: 40px;
  }

  .form-email,
  .form-phone {
    font-size: 20px;
    line-height: 30px;
    max-width: 569px;
    padding-left: 0;
  }

  .user-email,
  .user-phone {
    margin-left: 18px;
  }
}
