.title-line::after {
  content: "";
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  background: $basic_green;
  z-index: -1;
}

.filter-contact__title-wrap {
  position: relative;
  display: block;
}


@media (min-width: $desktop-width) {
  .title-line::after {
    width: calc(100vw - 17px);
  }
}

