.product-more {
  border-top: 1px solid #ebebeb;
  min-height: 112px;
  padding-bottom: 18px;
}

.product-more:last-child {
  border-bottom: 1px solid $special_grey;
}

.product-more__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  margin-bottom: 10px;
}

.product-more__discription {
  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .product-more {
    display: flex;
    flex-wrap: wrap;
    max-width: 708px;
    padding: 20px 38px 4px 36px;
    border-top: 1px solid $special_grey;
    border-left: 1px solid $special_grey;
    border-right: 1px solid $special_grey;
    border-bottom: none;
    margin-bottom: 1px;
  }

  .product-more:last-child {
    border-bottom: 1px solid $special_grey;
  }

  .product-more__title {
    margin-top: 5px;
    font-size: 20px;
    line-height: 20px;
    flex: 1 0 54%;
  }

  .product-more__discription {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 46%;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    margin-top: 6px;
  }

  .product-more__discription-amount {
    margin-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .product-more {
    max-width: 896px;
    flex-wrap: nowrap;
    margin-bottom: 0;
    border: none;
    min-height: 70px;
    align-items: center;
    padding: 0;
    border-top: 1px solid $special_grey;
  }

  .product-more__title {
    margin-top: 0;
    flex: 1 0 36%;
  }

  .product-more__discription {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
  }

  .product-more__discription-cost {
    margin-right: 40px;
  }
}
