.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 22px 0 22px 0;
}

.site-list__item a {
  color: $basic_black;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    margin-left: 35px;
    padding: 9px 0;
  }

  .site-list__item:hover {
    opacity: 0.6;
  }

  .site-list__item:active {
    opacity: 0.3;
  }

  .site-list__item--current {
    border-bottom: 2px solid $basic_green;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    font-size: 20px;
    line-height: 30px;
    margin-left: 34px;
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .site-list__item--white a {
    color: $basic_white;
  }

  .site-list__item--white:hover {
    opacity: 0.6;
  }

  .site-list__item--white:active {
    opacity: 0.3;
  }

  .site-list__item--current-white {
    border-bottom: 2px solid $basic_white;
  }
}
