$tablet-width: 768px;
$desktop-width: 1220px;
$mobile-width-only: 767px;

$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_black: #000000;
$basic_black-2: #111111;
$basic_grey: #f2f2f2;
$basic_grey-2: #ebebeb;
$basic_grey-3: #dcdcdc;
$basic_grey-4: #e6e6e6;
$special_grey: #cdcdcd;
$special_grey-3: #d9d9d9;
$special_grey-2: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$basic_white: #ffffff;
$status_error: #ff8282;
$background: #e5e5e5;
$background-2: #eaeaea;

$shadow-black: rgba(0, 0, 0, 0.25);
