$tablet-width: 768px;
$desktop-width: 1220px;
$mobile-width-only: 767px;

$basic_green: #68B738;
$basic_green-2: #5EAA2F;
$basic_black: #000000;
$basic_black-2: #111111;
$basic_grey: #F2F2F2;
$basic_grey-2: #EBEBEB;
$basic_grey-3: #DCDCDC;
$special_grey: #CDCDCD;
$special_grey-2: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$basic_white: #ffffff;
$status_error: #FF8282;
$background: #E5E5E5;
$background-2: #EAEAEA;
